<footer>
    <img id="logo" src="/_assets/Group 2.png" alt="">
    <div id="footer-tab">
        <div class="footer-tab-1">
            <p>MG VietNam</p>
            <img src="/_assets/footer1.png" alt="">
        </div>
        <div class="footer-tab-2">
            <p>Facebook</p>
            <img src="/_assets/footer2.png" alt="">
        </div>
    </div>
    <div id="footer-content">
        <div id="footer-content-1">
            <div class="para" id="footer-content-11">
                <h3>Trụ sở chính:</h3>
                <p>Lô HHA1-1, Khu Đô thị và dịch vụ VSIP Bắc Ninh, Phường Phù Chẩn, Thành phố Từ Sơn, Tỉnh Bắc Ninh, Việt Nam
                    Tel: 0123456789</p>
            </div>
            <div class="para" id="footer-content-12">
                <h3>Văn phòng đại diện:</h3>
                <p>Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội</p>
            </div>
        </div>
        <div id="footer-content-2">
            <div id="footer-content-21">
                <h3>Đại lý</h3>
                <p class="para">Tìm đại lý</p>
                <p class="para">Đăng ký đại lý</p>
            </div>
            <div id="footer-content-22">
                <h3>Dịch vụ</h3>
                <p class="para">Bảo hành</p>
                <p class="para">Bảo dưỡng</p>
                <p class="para">Sửa chữa</p>
            </div>
        </div>
    </div>
    <p class="end">&copy; Copyright 2023, All Rights Reserved</p>
</footer>