<header>
    <h1 class="logo">My Project</h1>
    <nav id="nav">
        <ul>
            <li><a href="/_pages/index.html">Home</a></li>
            <li class="learning-path"><a href="#">Learning Path</a>
                <ul class="select-learning-path">
                    <li class="page1" onclick="page1()"><a>Page 1</a></li>
                    <li class="page2" onclick="page2()"><a>Page 2</a></li>
                    <li class="page3" onclick="page3()"><a>Page 3</a></li>
                </ul>
            </li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </nav>
</header>