<header>
    <img src="/_assets/Group 2.png" alt="" class="logo">

    <nav >
        <ul id="nav-list">
            <li><a class="nav-content" href="#">Trang chủ</a></li>
            <li><a class="nav-content" href="#">Đăng ký lái thử</a></li>
            <li><a class="nav-content" href="#">Liên hệ</a></li>
            <li><a class="nav-content" href="#">Mua ngay</a></li>
        </ul>


    </nav>
    <div class="dropdown">
        <img class="nav-icon" onclick="myFunction()" src="/_assets/Vector.png">
        <div id="myDropdown" class="dropdown-content">
        <a class="dropdown-content-a" href="#">
            <i class="fa-solid fa-house"></i> Trang chủ</a>
            
        <a class="dropdown-content-a" href="#"><i class="fa-solid fa-pencil"></i> Đăng ký lái thử</a>
        <a class="dropdown-content-a" href="#"><i class="fa-solid fa-mobile-screen-button"></i> Liên hệ</a>
        <a class="dropdown-content-a" href="#"><i class="fa-solid fa-cart-shopping"></i> Mua ngay</a>
    </div>
    </div>
    
</header>